<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
  <div class="container pt-5 pb-5 bg-white shadow-sm">
    <div class="row">
      <div class="col-md-5">
        <img th:src="@{/img/{path} (path = ${clothe.getFilename()})}" class="rounded mx-auto w-100">
      </div>
      <div class="col-md-7">
        <h2 th:text="${clothe.getClotheTitle()}"></h2>
        <h3 th:text="${clothe.getType()}"></h3>
        <p>Код товара: <span th:text="${clothe.getId()}"></span></p>
        <p class="product-stock" style="color: #54C0A1">В наличии</p>
        <div class="row ml-1">
          <h6 class="mr-5">
            ₽ <span th:text="${clothe.getPrice()}"></span>.00
          </h6>
          <form action="/cart/add" method="post">
            <button type="submit" name="clotheId" class="btn btn-success mx-3"
                    th:value="${clothe.getId()}">
              <i class="fas fa-cart-plus mr-2 fa-lg"></i>
              В корзину
            </button>
          </form>
        </div>
        <br>
        <table class="table">
          <tbody>
          <tr>
            <td>Название:</td>
            <td th:text="${clothe.getClotheTitle()}"></td>
          </tr>
          <tr>
            <td>Тип:</td>
            <td th:text="${clothe.getType()}"></td>
          </tr>
          <tr>
            <td>Цвет:</td>
            <td th:text="${clothe.getClotheColor()}"></td>
          </tr>
          <tr>
            <td>Пол:</td>
            <td th:text="${clothe.getClotheGender()}"></td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
